<h1>Listing Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Rides</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= for ride <- user.rides do %>
            <span><%= link ride.title, to: Routes.ride_path(@conn, :show, ride) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
