<ul>
  <li class="text-xl p-2 m-2">
    <strong><%= @user.name %></strong>
    <%= if @current_user && @user.id == @current_user.id do %>
      <span class="text-gray-600"><%= link "(edit)", to: Routes.user_path(@conn, :edit, @user) %></span>
    <% end %>
  </li>
  <li class="p-1 md:m-2 border-2 rounded-md">
    <strong>Bulletins:</strong>
    <ul class="p-2">
      <%= for ride <- @user.rides do %>
        <li><%= link ride.title, to: Routes.ride_path(@conn, :show, ride) %> (<%= length ride.subscribers %> subscriber<%= if length(ride.subscribers) != 1 do "s" end%>)</li>
        <% end %>
      </ul>
      <%= if @current_user && @user.id == @current_user.id do %>
        <span class="text-gray-600"><%= link "(Create New Bulletin)", to: Routes.ride_path(@conn, :new) %></span>
      <% end %>
    </li>
  </ul>
